<!-- footer Start -->
<footer class="section footer noover">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="widget clearfix">
          <h3 class="widget-title" align="center">Certificaciones</h3>
          <img src="images/certificaciones/Mintransporte.jpg" alt="" class="img-responsive">
          <br>
          <img src="images/certificaciones/Supertransporte.png" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="widget clearfix">
          <h3 class="widget-title">Mapa del Sitio</h3>
          <div class="list-widget">
            <ul>
              <li>
                <a href="inicio.html">Inicio</a>
              </li>
              <li>
                <a href="nosotros.html">Sobre Nosotros</a>
              </li>
              <li>
                <a>Nuestra Región</a>
              </li>
              <li>
                <a href="historia.html">- Historia</a>
              </li>
              <li>
                <a href="turismo.html">- Turismo</a>
              </li>
              <li>
                <a href="servicios.html">Servicios</a>
              </li>
              <li>
                <a href="rutas.html">Rutas</a>
              </li>
              <li>
                <a href="contactanos.html">Contáctanos</a>
              </li>
              <li>
                <a href="pqrs.html">- PQRS</a>
              </li>
            </ul>
          </div>
          <!-- end list-widget -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->
      <div class="col-lg-3 col-md-3">
        <div class="widget clearfix">
          <h3 class="widget-title">Sitios de interés</h3>
          <div class="list-widget">
            <ul>
              <li>
                <a href="http://www.supertransporte.gov.co">Superintendencia de transporte</a>
              </li>
              <li>
                <a href="https://www.mintransporte.gov.co">Ministerio de transporte</a>
              </li>
              <li>
                <a href="https://www.invias.gov.co">INVÍAS</a>
              </li>
              <li>
                <a href="https://www.simit.org.co/">SIMIT</a>
              </li>
              <li>
                <a href="http://www.runt.com.co/">RUNT</a>
              </li>
            </ul>
            </ul>
          </div>
          <!-- end list-widget -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->
      <div class="col-lg-3 col-md-3">
        <div class="widget clearfix">
          <h3 class="widget-title">Soporte</h3>
          <div class="list-widget">
            <ul>
              <li>
                <a href="support/Contrato_de_Transporte.pdf" target="_blank">Contrato de Transporte</a>
              </li>
              <li>
                <a href="support/Políticas_de_Privacidad.pdf" target="_blank">Políticas de Privacidad</a>
              </li>
              <li>
                <a href="support/Términos_de_Uso.pdf" target="_blank">Términos de uso</a>
              </li>
              <li>
                <a href="support/Aviso_Legal.pdf" target="_blank">Aviso Legal</a>
              </li>
            </ul>
          </div>
          <!-- end list-widget -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end footer -->
<div class="copyrights">
  <div class="container">
    <div class="clearfix">
      <div class="footer-links">
        <h5 align="center" font-family="Roboto" font-size="15px" margin="0" )>Copyright &copy; Design &amp; Developed by
          <a href="https://github.com/cahupa99" target="_blank">Carlos Patiño</a>. Todos los derechos reservados.</h5>
      </div>
    </div>
  </div>
</div>